<footer id="inf" style="
        position: relative;
        bottom: 0;
        width: 100%;
        height: 175px;
        margin-top: 50px;
        background: #C4C4C4;
        font-family: 'Days One';
">
    <div class="inf" style="
        margin: 0 auto;
        max-width: 800px;
        background: white;
        height: 100%">
        <div style="
        float: left;
        margin: 14px 25px 0 25px;">
            <h1>socianonet</h1>
            <h5>анонимный блог</h5>
        </div>
    </div>
</footer>