<nav id="scroll-menu">
  <ul class="menu">
    <a href="/"><span class="logo">socianonet</span></a>
<!--    <li><a href="/">Главная</a></li>-->
<!--    <li><a href="/posts">Posts</a></li>-->
    <li><a href="/add-post">создать пост</a></li>
<!--    <li><a href="/contacts">Contacts</a></li>-->
  </ul>
</nav>
