<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body class="home">
    <%- include('./partials/nav.ejs') %>
    <div style="height: 80px"></div>
    <div id="app">
    <h1>
        че надо?
    </h1>
</div>
</body>
</html>
